html, body{
	height: 100%;
}

body{
	background: #fff;
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}

*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	text-decoration: none;
}

iframe{
	overflow: auto;
	width: 100%;
	margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6{
	margin: 1em 0;
}

#subredditmenu h2{
	margin: .3em 0;
	text-decoration:underline
}

a{
	color: #369; 
}

#wrapper{
	min-height: 100%;
	width: 88%;
	position: absolute;
	left:185px;
	top:0px;
	overflow: hidden;
}

footer{
	position: absolute;
	left: 3em;
	bottom: .5em;
	font-size: 1.2em;
}

#contentarea{
	background: url('http://jbrony.net/superemotetool/images/pinkiegummy.png') no-repeat right top;
}

#textblock{
	font-size: 1.2em;
	padding-left: 5em;
	padding-top: 1em;
}

/* Tables */
table{ 
	border-collapse:collapse; 
}

table, th, td {
	border: 1px solid #000;
	font-weight: normal;
}

td{
	text-align: center;
}

#wrapper2 {
  position: fixed;
  width: 185px;
  height: 100%;
  overflow: auto;
}

/* Reddit Style Menu */

#subredditmenu{
	font-size: 9.6px;
	padding: 3px 0px 3px 5px;
	background: #f0f0f0;
	text-transform: uppercase;
}	

#subredditmenu li{
	display:inline; 
	white-space: nowrap; 
}

#subredditmenu a{
	display: block;
	margin-bottom: 5px;
	width: 130px;
	color:black;
	cursor: pointer;
}

#subredditmenu a:hover{
	text-decoration: underline;
}

#subredditmenu a:active {
	color:orangered;
}

.changelog {
  margin-left: 1em;
}

.changelog h3 {
  color: blue;
}
